paramiko==2.7.2
twisted==21.7.0
bashlex==0.16

#cowrie 
appdirs==1.4.4
attrs==21.2.0
bcrypt==3.2.0
configparser==5.0.2
cryptography==35.0.0
packaging==21.0
pyasn1_modules==0.2.8
pyopenssl==21.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
service_identity==21.1.0
tftpy==0.8.2
treq==21.5.0
numpy==1.19.4
pandas==1.1.5
pexpect==4.8.0
redis==3.5.3
psutil==5.8.0
scp==0.13.3
